@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    cursor: pointer;
}

li, a, button {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.nav__search {
    width: 20%;
    height: 40px;
    background: url(images/magnifying-glass.png) no-repeat scroll;
    background-position: 98%;
    color: #34343b;
    background-color: rgba(217, 127, 128, 0.2);
    border-radius: 5px;
    border-color: white;
    border-style: dashed;
    border-width: thin;
    outline: none;
    text-indent: 25px;
}

.logo__div {
    display: flex;
    justify-content: space-between;
}

.logo__text {
    padding-left: 20px;
    align-self: center;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.nav__links {
    letter-spacing: 0.2em;
    font-weight: bold;
    list-style: none;
}

.nav__links a {
    color: black;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: white;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px
}

.button__help {
    background-image: url(images/icon-park_help.png);
    width: 48px;
    height: 48px;
    background-size: cover;
    border-style: none;
    justify-self: flex-end;
    margin-left: -40px;
    cursor: pointer;
    background-color: transparent;
}

.button__join {
    padding: 15px 35px;
    font-weight: normal;
    border-radius: 100em;
    border: none;
    color: white;
    background-color: #1B5284;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button__join:hover {
    background-color: rgba(27, 82, 132, 0.5);
}

.area__login-dropdown {
    position: relative;
    display: inline-block;
}

.area__login {
    overflow:hidden;
    position:absolute;
    left: 0;
    height: 0;
    line-height: 30px;
    box-sizing:border-box;
    transition:all 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.area__login-dropdown:hover .area__login {
    height: 400px;
}

/*dropdown menu*/

.login {
    letter-spacing: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(120deg, rgb(23, 53, 80), rgb(66, 210, 255));
    width: 400px;
    height: 400px;
    padding: 35px;
    /*border-style: dashed;
    border-color: black;*/
    border-width: 2px;
   
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top:10px;
    border: none;
    height: 40px;
    outline: none;
    color: #cbd0f7;
    border-radius: 4px;
    padding-left: 10px;
}

.login img{
    width: 85px;
    height: auto;
}

.student__form {
    text-justify: center;
    width: 100%;
    padding: 20px;
}

.student__info-text {
    font-size: 28px;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
}

.student__info-subtext {
    font-size: 13px;
    font-weight: normal;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
}

.student__info-submit {
    margin: 15px 35px;
    font-weight: normal;
    border-radius: 100em;
    border: none;
    color: white;
    background-color: #1B5284;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.student__info-submit:hover {
    background-color: rgba(27, 82, 132, 0.5);
}

.student__info-extra {
    font-size: 13px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #52E0FF;
    border-style: solid;
    border-bottom-width: 20px;
    border-color: #1B5284;
}

body {
    background-image: url(images/home-background.jpg);
}